
$social-text:#2C2D3C;
$copyright:#586C88;
footer{
    padding: 15px 0;
    
    .social{
        a{
            color: $social-text;
            font-size: 2.3rem;
            transition: 1s linear;
            text-decoration: none;
            margin: 0 10px;
            &:hover{
                transform: rotate(360deg);
            }
        }      
    }
    
    .copyright{
        color: $copyright;
        line-height: 4.1rem;
        font-size: 1.2rem;
        font-weight: $font-weight-medium;
        
        a{
            color: $copyright;
        }
    }
}


